# Node dependencies
node_modules/
npm-debug.log

# Environment variables
.env
.env.local

# Engine Lockfiles
.send.lock
.stop-send

# Data Directory (Ignore all data except placeholder/gitkeep)
data/*
!data/.gitkeep

# Optional: specifically allow structure if needed
!data/screenshots/
data/screenshots/*
!data/screenshots/.gitkeep

# macOS
.DS_Store

# Editor / IDE
.vscode/
.idea/
